.container {
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
  margin-left: 200px;
}

.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 210px;
  padding-right: 367px;
  padding-left: 154px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

.bannerImage {
  position: absolute;
  right: 16px;
  bottom: 3px;
  width: 200px;
  height: 171px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.bannerTitle {
  font-size: 24px;
  font-weight: bold;
}

.bannerDescription {
  font-size: 16px;
  width: 255px;
}

.bannerButton {
  margin-top: 8px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #0070f3;
  color: white;
  cursor: pointer;
}

.bannerButtonEdit {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 8px;
  border: none;
  border-radius: 50%;
  background-color: #ff4081;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerButtonEdit i {
  margin-right: 4px; 
}

.data {
  position: absolute; 
  top: -20px; 
  padding: 8px;
  border-radius: 4px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 400px;
  max-width: 90%;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.editFormContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bannerInfo {
  width: 67%;
  display: flex;
  margin: auto;
  align-items: center;
  gap: 18px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}

.bannerPreview {
  width: 100px;
  height: 100px;
  border-radius: 51px;
  object-fit: cover;
}

.editFormImages {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.imageCircle {
  width: 100px;
  height: 66px;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.imageCircle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageUploadLabel {
  cursor: pointer;
  font-size: 24px;
  color: silver;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99px;
  border-radius: 50%;
}

.editForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .editForm label {
  font-weight: bold;
} */

.editForm input,
.editForm textarea {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-family: 'normal';
}

.editForm button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #0070f3;
  color: white;
  cursor: pointer;
}

.editForm button:last-of-type {
  background-color: #ff4081;
}

.editbnner {
  color: #4C4B49;
  font-size: 20px;
  font-weight: 500;
}

.downloadButton {
  background-color: #ff4081;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.hidden {
  display: none;
}

/* .icon{
  color: red;
} */

.bannerText{
  font-style: normal;
  font-size:small;
}